In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("marketing_campaign.csv",sep='\t')

In [11]:
print("Missing values:\n",df.isnull().sum())

Missing values:
 ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [12]:
df['Income'].fillna(df['Income'].mean(),inplace=True)

<ipython-input-12-da9ca5eb9cb6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].mean(),inplace=True)

In [22]:
print(df.columns)

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [25]:
#Convert Dt_customer to datetime
df['Dt_customer'] = pd.to_datetime(df['Dt_customer'], format='%d-%m-%Y', errors='coerce')

In [26]:
#Age
df['Age'] =2025 - df['Year_Birth']

In [27]:
#Total children
df['Total_children'] = df['Kidhome']+df['Teenhome']

In [28]:
#Total amount spent all products
spend_cols = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
df['Total_spent'] = df[spend_cols].sum(axis=1)

In [32]:
#Standardize categorical data
df['Education'] = df['Education'].str.strip().str.title()
df['Marital_Status'] = df['Marital_Status'].replace({
    'Alone': 'Single',
    'Abusrd': 'Single',
    'Widow': 'Single',
    'YOLO': 'Single',
    'Divorced': 'Single',
    'Together': 'Married',
}).str.title()

In [33]:
#drop irrevalent or constant columns
df.drop(columns=['Z_CostContact','Z_Revenue','ID'],inplace=True)

In [34]:
print(df.head())

   Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0        1957  Graduation         Single  58138.0        0         0
1        1954  Graduation         Single  46344.0        1         1
2        1965  Graduation        Married  71613.0        0         0
3        1984  Graduation        Married  26646.0        1         0
4        1981         Phd        Married  58293.0        1         0

  Dt_customer  Recency  MntWines  MntFruits  ...  AcceptedCmp3  AcceptedCmp4  \
0  2012-09-04       58       635         88  ...             0             0
1  2014-03-08       38        11          1  ...             0             0
2  2013-08-21       26       426         49  ...             0             0
3  2014-02-10       26        11          4  ...             0             0
4  2014-01-19       94       173         43  ...             0             0

   AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response  Age  \
0             0             0             0         0         1   68
1             0             0             0         0         0   71
2             0             0             0         0         0   60
3             0             0             0         0         0   41
4             0             0             0         0         0   44

   Total_children  Total_spent
0               0         1617
1               2           27
2               0          776
3               1           53
4               1          422

[5 rows x 29 columns]